<p-toast position="bottom-right"></p-toast>

@if (!isLoading) {
    <app-crud
        [columns]="columns"
        [data]="data"
        [fields]="fields"
        [title]="title"
        [dataNotFound]="dataNotFound"
        [errorMessage]="errorMessage"
        [canCreate]="canCreate"
        [canEdit]="canEdit"
        [canEditRowResolver]="canEditLeadRow"
        [canRowAction]="canDelete"
        [canBulkAction]="canDelete"
        [canExport]="canExport"
        [enableViewAction]="true"
        (save)="saveLead($event)"
        (delete)="deleteLead($event)"
        (bulkDelete)="deleteLeads($event)"
        (view)="viewLead($event)"
    />
}
